Repository nunu-ai/nunu-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, clippy, toml-fmt, cargo-deny

cargo-fmt:
  name: Format rust files
  entry: cargo fmt
  args:
  - --
  language: system

clippy:
  name: Lint rust code
  entry: cargo clippy --fix --allow-dirty -- -D warnings
  pass_filenames: false
  language: system

toml-fmt:
  name: Format .toml files
  entry: taplo fmt
  language: system

cargo-deny:
  name: Lint rust dependencies
  entry: cargo deny check
  pass_filenames: false
  language: system

feat: add macos binary to release
  .github/workflows/build.yml
  README.md
Due: none

chore: update README
  README.md
Due: none

feat: change automatic config path discovery
  src/file_config.rs
Due: cargo-fmt, clippy

feat: automatically detect and attach arch to filenames
  .github/workflows/build.yml
  README.md
Due: none

Update macOS installation instructions in README
  README.md
Due: none

feat: test intel macos cc
  .github/workflows/build.yml
  flake.nix
Due: none

chore: make ready for merge
  .github/workflows/build.yml
Due: none

fix: test
  .github/workflows/build.yml
Due: none

fix: artifact names for upload
  .github/workflows/build.yml
Due: none

feat: update README for intel_macos and
  README.md
  src/api/client.rs
Due: cargo-fmt, clippy

fix: obfuscate sensitive proxy urls, track upload progress atomically
  src/api/client.rs
Due: cargo-fmt, clippy

feat: find commit SHA in github PR workflows
  src/metadata.rs
Due: cargo-fmt, clippy

feat: normalize timstamp (maybe not needed)
  Cargo.lock
  Cargo.toml
  flake.lock
  src/metadata.rs
Due: cargo-fmt, clippy, toml-fmt, cargo-deny

feat: remove project_id and use public v1 api
  .env.example
  .envrc
  README.md
  config.example.json
  src/bin/main.rs
  src/config.rs
  src/file_config.rs
Due: cargo-fmt, clippy

fix: duplicate progress bar
  src/bin/main.rs
  src/upload/multipart.rs
  src/upload/single.rs
Due: cargo-fmt, clippy

fix: trailing comma
  README.md
Due: none

chore: nix cache hint
  flake.nix
Due: none

feat: oauth support
  .env.example
  Cargo.lock
  Cargo.toml
  README.md
  config.example.json
  deny.toml
  flake.lock
  src/api/client.rs
  src/auth/mod.rs
  src/auth/oauth.rs
  src/auth/provider.rs
  src/auth/storage.rs
  src/bin/main.rs
  src/config.rs
  src/error.rs
  src/file_config.rs
  src/lib.rs
Due: cargo-fmt, clippy, toml-fmt, cargo-deny

feat: basic rmcp proxy
  Cargo.lock
  Cargo.toml
  README.md
  src/auth/oauth.rs
  src/auth/provider.rs
  src/bin/main.rs
  src/lib.rs
  src/mcp.rs
  src/tls.rs
Due: cargo-fmt, clippy, toml-fmt, cargo-deny

fix: mcp lifecycle
  src/mcp.rs
Due: cargo-fmt, clippy

fix: upstream error handling
  src/mcp.rs
Due: cargo-fmt, clippy

fix: cert fallback
  Cargo.lock
  Cargo.toml
  src/api/client.rs
  src/auth/mod.rs
  src/auth/oauth.rs
  src/bin/main.rs
  src/mcp.rs
  src/tls.rs
  src/upload/multipart.rs
  src/upload/single.rs
Due: cargo-fmt, clippy, toml-fmt, cargo-deny

feat: build upload tool
  README.md
  src/bin/main.rs
  src/mcp.rs
  src/mcp/tools/mod.rs
  src/mcp/tools/upload_build.rs
Due: cargo-fmt, clippy

feat: workspace override
  README.md
  src/bin/main.rs
  src/mcp.rs
  src/mcp/tools/upload_build.rs
Due: cargo-fmt, clippy

feat: npm release
  .github/workflows/build.yml
  .gitignore
  README.md
  npm/bin/nunu-cli.js
  npm/package.json
  npm/platforms/darwin-arm64/package.json
  npm/platforms/darwin-x64/package.json
  npm/platforms/linux-x64/package.json
  npm/platforms/win32-x64/package.json
  npm/prepare-release.mjs
Due: none

feat: update readme
  README.md
Due: none

fix: windows build
  flake.nix
Due: none

chore: bump node
  .github/workflows/build.yml
  flake.nix
Due: none

fix: link oauth to base url
  src/auth/mod.rs
  src/auth/provider.rs
  src/auth/storage.rs
  src/config.rs
  src/mcp.rs
Due: cargo-fmt, clippy

fix: launcher publish
  .github/workflows/build.yml
Due: none

fix: show target-aware login instructions
  .github/workflows/build.yml
  README.md
  src/auth/mod.rs
  src/auth/provider.rs
  src/bin/main.rs
  src/error.rs
  src/mcp.rs
Due: cargo-fmt, clippy

fix: local logout
  src/auth/storage.rs
Due: cargo-fmt, clippy

feat: nice oauth page
  src/auth/browser-response.html
  src/auth/oauth.rs
Due: cargo-fmt, clippy

fix: build
  flake.nix
Due: none

feat: tool to await run/testplan/job completion
  src/api/client.rs
  src/mcp.rs
  src/mcp/tools/mod.rs
  src/mcp/tools/wait_for.rs
Due: cargo-fmt, clippy

chore: better publish
  .github/workflows/build.yml
  npm/platforms/darwin-arm64/package.json
  npm/platforms/darwin-x64/package.json
  npm/platforms/linux-x64/package.json
  npm/platforms/win32-x64/package.json
Due: none

fix: mac build deps
  flake.nix
Due: none

feat: artifact download tool
  README.md
  src/api/client.rs
  src/mcp.rs
  src/mcp/tools/download_run_files.rs
  src/mcp/tools/mod.rs
Due: cargo-fmt, clippy

fix: download schema
  src/api/client.rs
  src/mcp/tools/download_run_files.rs
Due: cargo-fmt, clippy

fix: oauth flow
  src/auth/oauth.rs
Due: cargo-fmt, clippy

Path conditions:
  cargo-fmt: any of: \.rs$
  clippy: any of: \.rs$
  toml-fmt: any of: \.toml$
  cargo-deny: any of: \.toml$
