Repository nunu-ai/nunu-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, clippy, toml-fmt, cargo-deny

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Format rust files
        entry: cargo fmt
        args: ["--"]
        types: [rust]
        language: system
      - id: clippy
        name: Lint rust code
        entry: cargo clippy --fix --allow-dirty -- -D warnings
        types: [rust]
        pass_filenames: false
        language: system
      - id: toml-fmt
        name: Format .toml files
        entry: taplo fmt
        types: [toml]
        language: system
      - id: cargo-deny
        name: Lint rust dependencies
        entry: cargo deny check
        types: [toml]
        pass_filenames: false
        language: system

add clippy to vs code setup
  README.md
Due: none

feat: nunu-cli for upload
  .env.example
  .gitignore
  Cargo.lock
  Cargo.toml
  flake.lock
  flake.nix
  src/api/client.rs
  src/api/mod.rs
  src/bin/main.rs
  src/config.rs
  src/error.rs
  src/lib.rs
  src/upload/mod.rs
  src/upload/multipart.rs
  src/upload/single.rs
Due: cargo-fmt, clippy, toml-fmt, cargo-deny

fix: flake (?)
  flake.nix
Due: none

fix: linker dependency in stable (btw) fenix toolchain
  .cargo/audit.toml
  Cargo.lock
  Cargo.toml
  deny.toml
  flake.lock
  flake.nix
Due: toml-fmt, cargo-deny

feat: release and version bump
  .github/workflows/build.yml
  flake.nix
Due: none

feat: release
  .github/workflows/build.yml
Due: none

chore: add cargo-release configuration
  release.toml
Due: toml-fmt, cargo-deny

chore: move release config to Cargo.toml
  Cargo.toml
  release.toml
Due: toml-fmt, cargo-deny

feat: add changelog
  .github/workflows/build.yml
  Cargo.toml
Due: toml-fmt, cargo-deny

build: fix windows + add ci artifacts helper
  .github/workflows/build.yml
  flake.nix
Due: none

chore: retrigger
  README.md
Due: none

feat: trigger release
  .github/workflows/build.yml
  Cargo.lock
  Cargo.toml
  README.md
Due: toml-fmt, cargo-deny

chore: add changelog to release replacements
  Cargo.toml
Due: toml-fmt, cargo-deny

feat: trigger release
  README.md
Due: none

fix: use git add in pre-release-hook for CHANGELOG.md
  Cargo.toml
Due: toml-fmt, cargo-deny

fix: try different artifact path
  .github/workflows/build.yml
Due: none

fix: upload artifacts in post-release-build job
  .github/workflows/build.yml
Due: none

feat: logging levels, new routes, sigint/sigterm abort, readme docs. better logging and verbosity
  Cargo.lock
  Cargo.toml
  README.md
  config.example.json
  src/api/client.rs
  src/bin/main.rs
  src/file_config.rs
  src/lib.rs
  src/upload/mod.rs
  src/upload/multipart.rs
  src/upload/single.rs
Due: cargo-fmt, clippy, toml-fmt, cargo-deny

feat: update readme
  README.md
  src/file_config.rs
Due: cargo-fmt, clippy

feat: add more config locations for fun
  .gitignore
  src/file_config.rs
Due: cargo-fmt, clippy

feat: more generic naming
  src/api/client.rs
  src/upload/multipart.rs
  src/upload/single.rs
Due: cargo-fmt, clippy

feat: add versioning to filename and command
  .github/workflows/build.yml
  Cargo.lock
  Cargo.toml
  assets/icon-128x128.ico
  assets/icon-128x128.png
  build.rs
Due: cargo-fmt, clippy, toml-fmt, cargo-deny

feat: collect some metadata from CI and user-defined tags
  .github/workflows/build.yml
  .gitignore
  src/api/client.rs
  src/bin/main.rs
  src/ci_metadata.rs
  src/lib.rs
  src/metadata.rs
  src/upload/mod.rs
  src/upload/multipart.rs
  src/upload/single.rs
Due: cargo-fmt, clippy

chore: add some meta
  Cargo.toml
Due: toml-fmt, cargo-deny

feat: trigger release
  .github/workflows/build.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  flake.nix
Due: toml-fmt, cargo-deny

feat: static linked linux
  flake.nix
Due: none

feat: trigger release
  .github/workflows/build.yml
Due: none

fix: version
  Cargo.lock
  Cargo.toml
Due: toml-fmt, cargo-deny

feat: add debug logs, update readme
  .github/workflows/build.yml
  README.md
  src/api/client.rs
Due: cargo-fmt, clippy

chore: update README
  README.md
Due: none

feat: support globbing
  Cargo.lock
  Cargo.toml
  src/bin/main.rs
Due: cargo-fmt, clippy, toml-fmt, cargo-deny

feat: support globbing
  README.md
  src/bin/main.rs
Due: cargo-fmt, clippy

feat: remove version from filename for convenience
  .github/workflows/build.yml
Due: none
